In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\akshay\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\akshay\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\akshay\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\akshay\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\akshay\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
#pd is name given now. you can give anything

In [5]:
s = pd.Series(data = ['A',10,2500])

In [6]:
type(s)

pandas.core.series.Series

In [7]:
s

0       A
1      10
2    2500
dtype: object

In [16]:
s = pd.Series(data = [10,20,30],index=['a','b','c'],name = 'my')

In [18]:
s

a    10
b    20
c    30
Name: my, dtype: int64

In [19]:
lst = [['python',90,'pun'],['ml',100,'mum'],['dl',99,'hyd']]

col = ['sub','marks','city']

In [21]:
df = pd.DataFrame(data=lst, columns=col)

In [22]:
df

      sub  marks city
0  python     90  pun
1      ml    100  mum
2      dl     99  hyd

In [23]:
w = pd.DataFrame({
    ['subjects' = 'python','Ml','Dl'],
    ['marks' = 90,100,95],
    ['city' = 'PUN','MUM','HYD']
})

SyntaxError: invalid syntax (1396975456.py, line 2)